*{
	margin: 0;
	padding: 0;	
	scroll-behavior: smooth;
}

body{	
	font-family: arial, sans-serif;
	font-size: 10px;
}

header {
	background-color: #3E4001;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	position: fixed;
	width: 100%;
}

#logo{
	color: #FFF;
	text-shadow: 1px 1px 25px #000;
	font-weight: 900;
	font-size: 1.2rem;
}

ul#menu{
	display: flex;
	list-style: none;
}

#menu a:link, a:visited{
	padding: 23px;
	text-decoration: none;
	font-size: 1.5rem;
	color: #A2A62E;
	text-shadow: 1px 1px #000;
}

#menu a:hover, a:active{
	background-color: #A2A62E;
	color: #000;
	text-shadow: 1px 1px #FFF;
}

#banner{
	background-image: url('../images/banner.jpg');
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

main h1{
	font-size: 2rem;
	margin: 50px 0;
}

#about{
	background-color: #A69472;
	height: 100vh;
	font-size: 1.5rem;
	padding: 50px;
}

#racas{
	background-color: #A66589;
	height: 100vh;
	font-size: 1.5rem;
	padding: 50px;
}

table{
	width: 100%;
	border-collapse: collapse;
}

table thead{
	text-align: left;
}

table td, th{
	border: 1px #FFF solid;
	padding: 10px;
}

#gallery{
	background-color: #5A7302;
	height: 100vh;
	padding: 50px;
	text-align: center;
}

#gallery img{
	width: 300px;
	height: 200px;
	box-shadow: 10px 10px 25px #000;
	margin: 30px;
	border-radius: 10px;
}

#contact{
	background-color: #8C862B;
	height: 100vh;
	padding: 50px;
}

#contact label, button{
	display: block;
	font-size: 1.3rem;
	margin-top: 15px;
}

#contact input, textarea{
	width: 400px;
	padding: 10px;
	border-radius: 10px;
	border: none;
	font-size: 1.1rem;
}

#contact button{
	background-color: #3E4001;
	color: #FFF;
	padding: 10px;
	border: none;
	border-radius: 10px;
}

#contact button:hover{
	background-color: #FFF;
	color: #3E4001;
	cursor: pointer;
}

footer{
	background-color: #000;
	color: #FFF;
	padding: 10px;
	text-align: center;
}